# 01 Pages per protocol

In [2]:
import re
import datetime
from glob import iglob
import pandas as pd
import matplotlib.pyplot as plt
from pyspark.shell import sqlContext

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.4.3
      /_/

Using Python version 3.7.3 (default, Mar 27 2019 09:23:15)
SparkSession available as 'spark'.

## Load the data

In [6]:
def loadData(path):
    frames = []
    for file in iglob(path, recursive=True):
        crawl = re.findall(r'/(\d{4}-\d{2})/', file)
        date = datetime.datetime.strptime(crawl[0] + "-1", "%Y-%W-%w")
        frame = sqlContext.read.parquet(file).toPandas()
        frame['date'] = date
        frames.append(frame)
    data = pd.concat(frames, ignore_index=True).set_index('date').sort_index()
    return data

data = loadData('../data/sri/*/reports/00_count.csv/')
dataDistinct = loadData('../data/sri/*/reports/00_count_distinct.csv/')
dataDomain = loadData('../data/sri/*/reports/00_count_domains/')

## Display the data

In [4]:
dataDomain

               count
date
2019-03-04  49355436

In [5]:
data

                 count
date
2016-05-02  1337194450
2017-02-27  3084165319
2017-08-21  3280080910
2018-02-26  3488463319
2018-08-20  2686323358
2019-03-04  2913733422

In [17]:
out = open("00_count.tex", 'w')

def print_latex(name, var):
    out.write("\def\\" + name + "{\\num{" + ("%0.2f" % var) + "}}\n")
    
print_latex('CCUrlN', data.reset_index()[-1:]['count'])
print_latex('CCUrlDistinctN', dataDistinct.reset_index()[-1:]['count'])
print_latex('CCDomainN', dataDomain.reset_index()[-1:]['count'])

out.close()

In [16]:
lastData

        date       count
5 2019-03-04  2913733422